.image-list {
	width: 130px;
	display: flex;
	gap: 10px;
	margin: 0 50px;
}

.modal {
	width: 900px;
	height: 500px;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
}

.modal__items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.gallery-item-icon {
	color: var(--color-primary);
	font-size: 20px;
	cursor: pointer;
}

.modal__btn-group {
	display: flex;
	gap: 5px;
}

.gallery__btn {
	width: 100px;
}

.image-list,
.gallery__image {
	border-radius: 10px;
}

.gallery__image {
	height: 500px;
	object-fit: cover;
}