.notification {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
}

.notification .notification-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}
.notification-items {
  overflow-y: auto;
  height: 350px;
}
/* Style thanh cuộn */
.notification-items::-webkit-scrollbar {
  width: 0px; /* Độ rộng của thanh cuộn */
  border-radius: 25px;
  height: 100px;
}

/* Màu nền của thanh cuộn .notification-items::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

/* Màu nền khi hover trên thanh cuộn */
/* .notification-items::-webkit-scrollbar-thumb {
  background-color: var(--color-primary2);
} */

/* Màu nền khi cuộn trên thanh cuộn */
/* .notification-items::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary2);
} */
*/ .notification h3 {
  text-decoration: none;
}
.notification-footer {
  padding: 20px 10px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification-footer-mark {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2196f3;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.notification-not-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 15px;
}
