.create-event {
  max-width: 1200px;
  height: 100%;
  margin: 100px auto;
}

.create-event h2 {
  color: #161f6d;
}

.create-event .nextui-c-iwmZdB-iiIdOsz-css {
  margin-bottom: 30px;
}

.create-event__form > div:nth-child(3) .nextui-c-iwmZdB-iiIdOsz-css {
  margin-bottom: 0;
}

.create-event__form {
  display: flex;
  flex-direction: column;
}

.create-event__image-input,
.create-event__type-fee {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 30px;
  margin-bottom: 30px;
}

.create-event__type-fee .nextui-c-iwmZdB-iiIdOsz-css {
  margin-bottom: 0;
}

.create-event__image-input {
  align-items: center !important;
  flex-wrap: nowrap;
}

.create-event__image-input label {
  font-size: 0.875rem;
  margin-left: 4px;
}

.file-input {
  color: transparent;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: 'Tải ảnh lên';
  display: inline-block;
  background-color: #f1f3f5;
  font-size: 0.875rem;
  padding: 8px 13px;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.create-envent__image-input-preview div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #00abe1;
  border-radius: 10px;
  width: 23%;
  height: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
}

.create-envent__image-input-preview img {
  width: 80%;
  height: 120px;
  object-fit: cover;
}

.create-envent__image-input-preview--display {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.create-event__form > div:nth-child(2) .nextui-c-iwmZdB-iiIdOsz-css {
  margin-bottom: 0;
}

.create-event__form .nextui-c-cwdhZi {
  font-size: 0.8rem;
}

.create-event__form--display {
  display: flex;
  align-items: center;
  padding-left: 4px;
  gap: 10px;
}

.create-event__form--display span {
  font-size: 0.875rem;
}

.create-event__time p {
  margin-left: 4px;
  font-size: 0.9rem;
}

.create-event__time .nextui-c-iwmZdB-iiIdOsz-css {
  margin-right: 10px;
}

.create-event__time--display {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.create-event__button {
  width: 20%;
  background-color: #161f6d;
  margin-top: 40px;
  margin-bottom: 100px;
  font-weight: 600;
}

.error-message {
  font-size: 0.8rem !important;
  margin-top: -30px;
}

.create-event__description {
  font-size: 0.9rem;
  margin-left: 4px;
  margin-bottom: 10px;
}

.create-event__buyfee {
  margin-bottom: 20px;
}

.create-event__buyfee > span {
  font-size: 0.9rem;
  vertical-align: top;
  margin-left: 4px;
  margin-right: 6px;
}

.create-event__address {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: end;
  margin-bottom: 30px;
}

.create-event__address > .nextui-c-iwmZdB-iiIdOsz-css {
  margin-bottom: 0px;
  width: 30%;
}

@media screen and (max-width: 1400px) {
  .create-event {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .create-event {
    width: 90%;
  }

  .create-envent__image-input-preview div {
    width: 32%;
  }
}

@media screen and (max-width: 576px) {
  .create-envent__image-input-preview div {
    width: 48%;
  }
}
